{box sizing: border-box;}
body{margin: 0;
     font-family: Arial, sans-serif;}
  body {background-color:pink;colour:black;}
h1{font sze:90px;}
section{padding:60px;
       font-weight: 400;
       line-height: 0.9
        letter-spacing: -4px;
       margin-bottom: 20px;}
section{margin-bottom: 100px;}
body : {margin: 0;
       padding: 30px
       font-family: Arial, sans-serif;}
        
